/*switch checkbox*/
/* Form Select Switches */
.switch {
  margin: 1px 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.switch input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

.switch span {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
  border-radius: 28px;
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}

.switch span:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  bottom: 7px;
  width: 12px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 24px;
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.switch input:checked + span:after {
  left: 26px;
  width: 24px;
  top: 1px;
  bottom: 1px;
  border: none;
  -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
}

.switch input:checked + span {
  background-color: #eeeeee;
}

.switch-primary span {
  border-color: #1bbae1;
}

.switch-primary input:checked + span {
  background-color: #1bbae1;
}

p {
  margin: 0 !important;
}
