.label_order_pending {
  background-color: #ffc107;
  color: #fff;
  border-radius: 5px;
}

.label_order_accept {
  background-color: #aad178;
  color: white;
  border-radius: 5px;
}

.label_order_refuse {
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
}

.title-order h4{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.text-center-td {
  text-align: center;
}

a.dropdown-item.unseen_false {
  background: #f0f0f0;
}

a.dropdown-item.unseen_true {
  background: white;
}

